.divDetail{
    width: 25rem; 
    background-color: rgba(0, 0, 0, 0.082);
    transition: transform 0.5s;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.divDetail img{
    border: 0.5rem;
    width: 100%;
}